.event-show-container {
    background-image: linear-gradient(rgb(21, 130, 180), rgb(228, 222, 222));
    width: 100%;
    display: flex;
    justify-content: center;
}

.event-show {
    width: 100%;
    margin: 0 100px 0 100px;
    box-sizing: border-box;
}

.event-show-top {
    display: flex;
    box-sizing: border-box;
    // grid-template-columns: 3fr 2fr;
    // border: 20px solid rgba(95, 23, 68, 0.349);
    justify-content: center;
    margin-top: 40px;
}

.event-show-img {
    max-height: 500px;
    // margin: 30px;
}

.top-side {
    // position: absolute;
    max-height: 500px;
    padding: 30px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    display: block;
    background-color: rgba(245, 243, 243, 0.89);
}

.event-show-date {

}

.event-show-mid {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    position: sticky; top: 0px;
}

.rsvp-button {
    min-width: 200px;
    min-height: 40px;
    background-color: green;
    margin: 20px;
    border-radius: 5px;
    color: white;
}

.rsvp-button:hover {
    background-color: rgb(97, 179, 97);
    cursor: pointer;
}

.rsvp-button:active {
    background-color: rgb(31, 92, 31);
    box-shadow: 1px 1px 1px 1px rgb(96, 226, 96);
}

.event-show-bottom {
    display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    height: 800px;
    border-top: solid rgb(180, 180, 185) 1px;
    padding: 50px 30px 30px 30px;
    box-sizing: border-box;
    background-color: white;
}

.bottom-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.bottom-right {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-left: 8.3333333333%;
    width: 33.3333333333%;

}

.event-show-title {
    font-size: 24px;
}

.event-show-header {
    font-size: 30px;
}

.event-show-description {
    color: rgb(156, 156, 156);
    font-size: 16px;
}