.event-show-container {
    background-image: linear-gradient(rgb(21, 130, 180), rgb(228, 222, 222));
    width: 100%;
    display: flex;
    justify-content: center;
}

.event-show {
    margin: 0 100px 0 100px;
    box-sizing: border-box;
    width: 600px;
    // height: 700px;
}

.event-show-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-sizing: border-box;
    // border: 20px solid rgba(95, 23, 68, 0.349);
    // justify-content: center;
    margin-top: 40px;
    max-height: 480px;
    width: 600px;
}

.top-img {
    // max-height: 500px;
    // margin: 30px;
    // background-size: contain;
    background-color: rgba(245, 243, 243, 0.89);
    // width: 400px;
    max-height: 480px;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-show-image {
    max-height: 480px;
    max-width: 400px;
}

.top-side {
    // position: absolute;
    // width: 200px;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(245, 243, 243, 0.89);
}

.event-show-date {
    margin-bottom: 60px;
}

.event-show-author {
    margin-top: 10px;
    color: grey;
}

.event-show-mid {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    position: sticky; top: 0px;
}

.rsvp-button {
    width: 100px;
    min-height: 40px;
    background-color: var(--main-orange);
    margin: 20px;
    border-radius: 5px;
    color: white;
}

.rsvp-button:hover {
    background-color: rgb(240, 105, 15);
    cursor: pointer;
}

.rsvp-button:active {
    background: rgb(223, 71, 16);
    box-shadow: 1px 1px 1px 1px rgb(189, 99, 66);
}

.event-show-bottom {
    display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    height: 800px;
    border-top: solid rgb(180, 180, 185) 1px;
    padding: 50px 30px 30px 30px;
    box-sizing: border-box;
    background-color: white;
}

.bottom-left {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    flex-direction: column;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.event-show-title {
    margin-bottom: 20px;
}

.event-show-header {
    margin-bottom: 12px;
}

.bottom-right {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-left: 8.3333333333%;
    width: 33.3333333333%;

}

.event-show-title {
    font-size: 24px;
}

.event-show-header {
    font-size: 30px;
}

.event-show-description {
    color: rgb(156, 156, 156);
    font-size: 16px;
}