.event-form-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 480px;
    height: 550px;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    left: 100px;
}

.form-header {
    font-size: 36px;
    align-self: flex-start;
    padding: 12px;
}
.event-form {
    padding: 8px 40px 40px 40px;
    // height: 500px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    // align-items: center;
}

.event-form-fields {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-items: center;
    box-sizing: border-box;
    height: 450px;
    margin: 18px;
}

.basic-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 280px;
}

.basic-instructions {
    color: rgb(109, 109, 109);
    font-weight: 200;
}

.basic-info > * {
    padding: 10px;
}

.create-input {
    display: block;
    width: 100%;
    border: none;
}

.event-image, .location-container, .event-date {
    height: 42px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-submit {
    align-self: center;
}