// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login-form-container {
    height: 500px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    // align-items: space-between;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    // flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.login-fields {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.login-input {
    display: block;
    width: 100%;
    padding: 12px 8px 4px 8px;
}

.session-submit {
    background: rgb(218, 60, 3);
    color: whitesmoke;
    padding: 8px;
}

.session-submit:hover {
    background: #eed461;
}

.login-input, .session-submit {
    box-sizing: border-box;
}

.form-intro {
    font-weight: 400;
    font-size: 36px;
    align-self: flex-start;
}
.login-form-container:last-child {
    
}