// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile-container {
    margin: 40px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.events-attending {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

.rsvp-feed {
    display: grid;
    grid-gap: 20px;
    box-sizing: border-box;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: 1fr;
    overflow: scroll;
}

.feed-header {
    font-size: 24px;
    margin: 10px;
}