// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-container {
    margin: 40px;
    display: flex;
    flex-direction: column;
    // height: 100vh;
}

.page-header {
    font-size: 36px;
    padding: 3px 3px 50px 3px;
    border-bottom: 1px solid lightgray;
    margin: 5px;
}

.profile-box {
    min-height: 150px;
    height: fit-content;
    box-sizing: border-box;
    overflow: auto;
    padding-bottom: 50px;
    // max-height: fit-content;
    border-bottom: 1px solid lightgray;
}

.account-info {
    // height: 10%;
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
}

.user-email{
    margin-top: 20px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-evenly;
    height: 10vh;
}

.account-photo {
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30vh;
}
// .account-photo {
//     height: 50%
//     display: flex;
//     flex-direction: column;
// }

.event-show-img {
    border: 1px solid darkslategray; 
    min-height: 200px;
    min-width: 100px;
    max-width: 200px;
}

.account-header {
    font-size: 24px;
    margin-bottom: 20px;
}

.events-attending {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

.rsvp-feed {
    display: grid;
    grid-gap: 20px;
    box-sizing: border-box;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: 1fr;
    overflow: scroll;
    margin-top: 20px;
}

.feed-header {
    font-size: 24px;
    margin: 5px 5px 20px 5px;
    align-self: flex-start;
}

.user-create-button-container {
    position: sticky;
    top: 0px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    height: auto;
    box-sizing: border-box;
    // padding: 40px 40px 0px 40px;
    padding: 20px;
}
.user-create-button-container > a {
    // margin-bottom: 32px;
}

.events-created {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    min-height: 400px;
}

.events-created-feed {
    display: grid;
    grid-template-rows: 360px;
    gap: 20px;
}
