// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-container {
    margin: 40px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.profile-box {
    height: 50vh;
}

.page-header {
    font-size: 36px;
    padding: 3px;
    border-bottom: 1px solid lightgray;
    margin: 5px;
}

.events-attending {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

.rsvp-feed {
    display: grid;
    grid-gap: 20px;
    box-sizing: border-box;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: 1fr;
    overflow: scroll;
}

.feed-header {
    font-size: 24px;
    margin: 18px;
    align-self: flex-start;
}

.user-create-button-container {
    height: fit-content;
    margin: 40px;
}

.events-created {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    min-height: 400px;
}
